@import url(https://fonts.google.com/specimen/Roboto#standard-styles);
#loginpage{
    width: 100%; 
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;

}
#login-area{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#login-line{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

#login-line #title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #96BB36;
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing:-1px;
  
}
#loginline{
  background-color: #D8D8D8;
  height: 1.5px;
  width: 92%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#text-area .welcome {
    display: inline-block;
  }

#login-form{ 
   justify-content: right;
    width: 200px;
   
}