@import url(https://fonts.google.com/specimen/Roboto#standard-styles);
*{
  font-family:'Roboto', sans-serif;
}
#recipespage {  
  width: 100%; 
  height: 100%;  
   margin: 0;
   padding: 0px;
   display: flex;
   justify-content: center;
  }
  
  #recipes-area{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  #recipes-line{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  
  #recipes-line #title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #96BB36;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing:-1px;
    
  }
  #recipesline{
    background-color: #D8D8D8;
    height: 2.5px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

#recipes-line #plus-icon {
 background-color: #F0972A;
 padding: 10px;
 border-radius: 50%;
 box-shadow: 0px 3px 6px #00000029;
}
#recipe-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
 
}
#recipes-box{
  display: flex;
  flex-direction: row;
  
}
#recipe {
  background-color: #FFFFFF;
  padding-left:20px;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  gap: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
#delete-container{
  display: flex;
  justify-content: flex-end;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
  border-radius:5px;

}
#recipe-delete{
  display: flex;
  align-items: center;
  padding-right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#recipe-title{
  width: 300px;
}

 #recipe-category{
  width: 80px;
 height: 30px;
 display: flex;
 border-radius: 5px;
 justify-content: center;
 align-items: center;
 background-color: #96BB36;
  color: #FFFFFF;
  font-family:'Roboto', sans-serif;
  font-weight: 3 00;
  letter-spacing: 0px;
  
}
#recipe-title{
  font-family:'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    color: #A5A5A5;
}
#recipe-date{
  width: 300px;
  display: flex;
  justify-content: center;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0px;
  color: #A5A5A5;
}
#titles-container{
  width: 100%;
 padding-top: 50px;
  display:flex;
  justify-content: space-between;
  gap: 20px;
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  color: #F0972A;
}
#container-left{
display: flex;
justify-content: flex-start;
}
#container-right{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
#recipecategory{
  width: 80px;
  height: 30px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.recipetitles {
  padding-left:20px;
  width: 100%;
  height: 70px;
    gap: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  }
#recipename{
  width: 300px;
}
#delete{
  display: flex;
  justify-content: flex-end;
}
#createdon{
  width: 300px;
  display: flex;
  justify-content: center;
}