*{
  box-sizing: border-box;
   padding: 0px;
   margin: 0px;
 
}
.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CreateAcc CreateAcc ."
    "Lorem Form ."
    ". . .";
}

.CreateAcc { grid-area: CreateAcc; }

.Lorem { grid-area: Lorem; }

.Form { grid-area: Form; }
